<div class="text-blue-500">Hello world</div>

{% schema %}
{
  "name": "test",
  "settings": [
    {
      "type": "checkbox",
      "id": "test",
      "label": "test"
    }
  ]
}
{% endschema %}
